.entrada {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
}

.text {
    color: #555;
    font-size: 1.5rem;
}

.value {
    color: #111;
    font-size: 4.5rem;
}

.botoes {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: none;
    margin: 2px;
}